  
  <section class="card-grid">
    <article class="card">
      <figure class="card-figure">
        <img src="http://placehold.it/950x250">
      </figure>

      <header class="card-header">
        <h4>A circle with any center and radius</h4>
      </header>

      <div class="card-content">
        <p></p>
      </div>

      <footer class="card-content">
        <p class="meta"></p>
      </footer>
    </article>
  </section>