
  <div class="pagination">
    <ul>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li class="pagination-omission">…</li>
      <li><a href="#">61</a></li>
      <li class="pagination-next"><a href="#">next »</a></li>
    </ul>
  </div>