<h4>Color Palette:</h4>

<ul class="swatches rhythm">
	<li><span class="swatch primary"></span></li>
	<li><span class="swatch secondary"></span></li>
	<li><span class="swatch warm"></span></li>
	<li><span class="swatch neutral"></span></li>
	<li><span class="swatch dark"></span></li>
</ul>

<ul class="swatches rhythm">
	<li><span class="swatch wash"></span></li>
	<li><span class="swatch cool"></span></li>
	<li><span class="swatch sharp"></span></li>
	<li><span class="swatch muted"></span></li>
	<li><span class="swatch bright"></span></li>
	<li><span class="swatch sour"></span></li>
	<li><span class="swatch soft"></span></li>
</ul>

<ul class="swatches darken rhythm">
	<li><span class="swatch primary"></span>darken 20%</li>
	<li><span class="swatch secondary"></span>darken 20%</li>
	<li><span class="swatch warm"></span>darken 20%</li>
	<li><span class="swatch neutral"></span>darken 20%</li>
	<li><span class="swatch dark"></span>darken 20%</li>
</ul>