<h4 class="pattern-header">Color Palette</h4>

<ul class="pattern-swatches small-block-grid-2 medium-block-grid-3 large-block-grid-4">
	<li>
		<div class="swatch primary">
			<p>
				<span class="name">Primary</span>
				#000000
			</p>
		</div>
	</li>
	<li>
		<div class="swatch secondary">
			<p>
				<span class="name">Secondary</span>
				#000000
			</p>
		</div>
	</li>
	<li>
		<div class="swatch wash">
			<p>
				<span class="name">Wash</span>
				#000000
			</p>
		</div>
	</li>
	<li>
		<div class="swatch alert">
			<p>
				<span class="name">Alert</span>
				#000000
			</p>
		</div>
	</li>
	<li>
		<div class="swatch success">
			<p>
				<span class="name">Success</span>
				#000000
			</p>
		</div>
	</li>
</ul>