<h4 class="pattern-title text-center">Forms</h4>

<div class="row">
  <div class="large-6 columns">
    <!-- Code -->
    <form>
      <fieldset>
        <div class="field-container">
          <label for="text">Text Input <abbr title="Required">*</abbr></label>
          <input id="text" type="text" placeholder="Text Input">
        </div>
        <div class="field-container">
          <label for="password">Password</label>
          <input id="password" type="password" placeholder="Type your Password">
        </div>
        <div class="field-container">
          <label for="webaddress">Web Address</label>
          <input id="webaddress" type="url" placeholder="http://yoursite.com">
        </div>
        <div class="field-container">
          <label for="emailaddress">Email Address</label>
          <input id="emailaddress" type="email" placeholder="name@email.com">
        </div>
        <div class="field-container">
          <label for="search">Search</label>
          <input id="search" type="search" placeholder="Enter Search Term">
        </div>
        <div class="field-container">
          <label for="text">Number Input <abbr title="Required">*</abbr></label>
          <input id="text" type="number" placeholder="Enter a Number" pattern="[0-9]*">
        </div>
        <div class="field-container">
          <label for="textarea">Textarea</label>
          <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>
        </div>
        <div class="field-container">
          <label class="error">Error Input</label>
          <input class="is-error" type="text" placeholder="Text Input">
          <span class="small note">Bad input. Bad</span>
        </div>
        <div class="field-container">
          <label class="valid">Valid</label>
          <input class="is-valid" type="text" placeholder="Text Input">
          <span class="small note">Valid input. Thanks</span>
        </div>
      </fieldset>
    </form>
    <!--end code-->
  </div>

  <div class="large-6 columns">
    <xmp class="prettyprint lang-html sunburst">
  <label for="text">Text Input <abbr title="Required">*</abbr></label>
  <input id="text" type="text" placeholder="Text Input">

  <label for="password">Password</label>
  <input id="password" type="password" placeholder="Type your Password">

  <label for="search">Search</label>
  <input id="search" type="search" placeholder="Enter Search Term">

  <label for="emailaddress">Email Address</label>
  <input id="emailaddress" type="email" placeholder="name@email.com">

  <label for="textarea">Textarea</label>
  <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>

  <label for="text">Number Input <abbr title="Required">*</abbr></label>
  <input id="text" type="number" placeholder="Enter a Number" pattern="[0-9]*">

  <label>Select Box
    <select>
      <option value="husker">Husker</option>
      <option value="starbuck">Starbuck</option>
      <option value="hotdog">Hot Dog</option>
      <option value="apollo">Apollo</option>
    </select>
  </label>

  <label class="error">Error Input</label>
  <input class="is-error" type="text" placeholder="Text Input">
  <span class="small note">Bad input. Bad</span>

  <label class="valid">Valid</label>
  <input class="is-valid" type="text" placeholder="Text Input">
  <span class="small note">Valid input. Thanks</span>
    </xmp>
</div>
