<h4 id="buttons">Buttons</h4>
<div class="row">
  <div class="small-6 large-6 columns">
    <button class="tiny button">.tiny.button</button><br>
    <button class="small button">.small.button</button><br>
    <button class="button">.button</button><br>
    <button class="button expand">.expand</button><br>
  </div>
  <div class="small-6 large-6 columns">
    <button class="tiny button secondary">.tiny.secondary</button><br>
    <button class="small button success radius">.small.success.radius</button><br>
    <button class="button alert round disabled">.round.disabled</button><br>
  </div>
</div>
