.card {
  @extend %no-margin;
  margin: 1rem 0;
  padding: 1rem 0;
  background: white;
  border-radius: 8px;

  &-header {
    padding: 1rem 1rem 0;
  }

  &-figure {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: -1rem;
    overflow: hidden;
  }

  &-content {
    padding: 0 1rem 1rem;
  }

  &-footer {
    padding: 1rem 1rem 0;
    border-top: 1px solid #efefef;
  }
}