// Full width image using background image

.hero {
  @include margin-trailer(1.5);
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;

  &.video {
    background-color: transparent;
  }

  @extend %responsive-hero;

  .video-container {
    @extend %responsive-hero;
  }

  @media #{$medium-up} {
    @include margin-trailer(3);
  }
}