.slats {

}

.slat {
  @extend %no-margin;
  @include grid-row();
  padding-bottom: 1rem;
  
  .slat-figure {
    @include grid-column(2);
    padding: 0;
  }

  .slat-header {
    @include grid-column(10);
  }

  a {
    color: $aluminum;
  }
}