.pattern {
  &-section {
    border-bottom: 1px solid #ccc;
    padding-top: 1.5rem;
    padding-bottom: 3rem;

    &.bright {
      background-color: white;
    }
  }

  &-header {
    border-bottom: 2px solid $ghost;
    color: $iron;
    margin-bottom: 1.5rem;

    p {
      //margin-top: -1.5rem;
    }
  }

  &-footer {
    padding-top: 1.5rem;
  }
}
