.relative {
  position: relative;
}

.top-left {
  display: block;
  position: relative;
  top: 1em;
  left: 1em;
  height: 1em;
  width: 1em;

  @media #{$medium-up} {
    position: absolute;

  }  
}