<!-- hero post -->
<header class="h-program">
  <div class="row">
    <div class="large-12 columns">
      <h1>Angular Test</h1>
    </div>
  </div>
</header>

<div class="row">
  <div class="large-12 columns rhythm">
    <div ng-app>
      <a href="#" class="button">{{"AngularJS"}}</a>
    </div>
  </div>
</div>
