---
title: Mister Machine Patterns
---

<div class="row">
  <div class="medium-9 columns">
    <section class="pattern-section">
      <h4 class="pattern-header">Story</h4>

      <article class="story">
        <header class="story-header">
          <p class="tag"></p>
          <h1></h1>
          <p class="byline"></p>
        </header>

        <div class="story-content">
          <p></p>
        </div>

        <footer class="story-footer">
          <p class="meta"></p>
        </footer>
      </article>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Excerpt</h4>

      <article class="excerpt">
        <header class="excerpt-header">
          <p class="tag"></p>
          <h2></h2>
          <p class="byline"></p>
        </header>

        <div class="excerpt-content">
          <p></p>
        </div>

        <footer class="excerpt-footer">
          <p class="meta"></p>
        </footer>
      </article>

    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Slats</h4>

      <aside class="slats">
        <header class="aside-header">
          <h3></h3>
        </header>

        <ul>
          <li>
            <article class="slat">
              <header class="slat-header">
                <h4></h4>
              </header>

              <div class="slat-content">
                <p></p>
              </div>

              <footer class="slat-footer">
                 <p class="meta"></p>
              </footer>
            </article>
          </li>
        </ul>
      </aside>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Archive</h4>

      <section class="component-archive">
        <header class="archive-header">
          <p class="tag"></p>
          <h2></h2>
          <p class="byline"></p>
        </header>

        <div class="archive-content">
          <p></p>
        </div>

        <footer class="archive-footer">
          <p class="meta"></p>
        </footer>
      </section>

    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Cards</h4>

      <section>
        <article class="card">
          <header class="card-header">
            <h2></h2>
          </header>

          <div class="card-content">
            <p></p>
          </div>

          <footer class="card-content">
            <p class="meta"></p>
          </footer>
        </article>
      </section>

    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Cover</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Hero</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Hovers</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Overlays</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Messages</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Pagination</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Panel</h4>
    </section>
  </div>

  <div class="medium-3 columns">
    <ul class="side-nav">
      <li><a href="#">Story</a></li>
      <li><a href="#">Excerpt</a></li>
      <li><a href="#">Slats</a></li>
      <li><a href="#">Archive</a></li>
      <li><a href="#">Cards</a></li>
      <li><a href="#">Cover</a></li>
      <li><a href="#">Hero</a></li>
      <li><a href="#">Hovers</a></li>
      <li><a href="#">Overlays</a></li>
      <li><a href="#">Messages</a></li>
      <li><a href="#">Pagination</a></li>
      <li><a href="#">Panel</a></li>
      <li><a href="#">Search Bar</a></li>
      <li><a href="#">Share</a></li>
      <li><a href="#">Follow</a></li>
      <li><a href="#">Tabs</a></li>
      <li><a href="#">Tags</a></li>
      <li><a href="#">Video</a></li>
    </ul>
  </div>
</div>
