---
title: Mister Machine Patterns
---

<div class="row">
  <div class="medium-9 columns">
    <section class="pattern-section">
      <h4 class="pattern-header">Story</h4>

      <article class="story">
        <header class="story-header">
          <p class="tag omega">Figures</p>
          <h1 class="serif">A figure is that which is contained by any boundary or boundaries.</h1>
          <p class="byline zeta">by Euclid on <time>November 12, 2014</time></p>
        </header>

        <div class="story-content">
          <p>Consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit</p>
        </div>

        <footer class="story-footer">
          <p class="meta zeta"><a href="#">Read More</a></p>
        </footer>
      </article>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Excerpt</h4>

      <article class="excerpt">
        <header class="excerpt-header">
          <p class="date omega"><time>November 12, 2014</time></p>
          <h2>That all right angles equal one another.</h2>
        </header>

        <div class="excerpt-content">
          <p>Consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit!</p>
        </div>

        <footer class="excerpt-footer">
          <p class="meta zeta"><a href="#">Read More</a></p>
        </footer>
      </article>

    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Slats</h4>

      <aside class="slats">

        <header class="aside-header">
          <h3></h3>
        </header>

        <ul>
          <li>
            <article class="slat">
              <figure class="slat-figure"><img src="http://placehold.it/150x150"></figure>
              <header class="slat-header">
                <p class="date omega"><time>November 12, 2014</time></p>
                <h4 class="epsilon">To describe a circle with any center and radius.</h4>
              </header>

              <footer class="slat-footer">
                 <p class="meta"></p>
              </footer>
            </article>
          </li>

          <li>
            <article class="slat">
              <figure class="slat-figure"><img src="http://placehold.it/150x150"></figure>
              <header class="slat-header">
                <p class="date omega"><time>November 12, 2014</time></p>
                <h4 class="epsilon">To describe a circle with any center and radius.</h4>
              </header>

              <div class="slat-content">
                <p></p>
              </div>

              <footer class="slat-footer">
                 <p class="meta"></p>
              </footer>
            </article>
          </li>
        </ul>
      </aside>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Cards</h4>

      <section>
        <article class="card">
          <figure class="card-figure">
            <img src="http://placehold.it/950x250">
          </figure>

          <header class="card-header">
            <h4>A circle with any center and radius</h4>
          </header>

          <div class="card-content">
            <p></p>
          </div>

          <footer class="card-content">
            <p class="meta"></p>
          </footer>
        </article>
      </section>

    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Cover</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Hero</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Hovers</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Overlays</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Messages</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Pagination</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Panel</h4>
    </section>
  </div>

  <div class="medium-3 columns">
    <ul class="side-nav">
      <li><a href="#">Story</a></li>
      <li><a href="#">Excerpt</a></li>
      <li><a href="#">Slats</a></li>
      <li><a href="#">Cards</a></li>
      <li><a href="#">Cover</a></li>
      <li><a href="#">Hero</a></li>
      <li><a href="#">Hovers</a></li>
      <li><a href="#">Overlays</a></li>
      <li><a href="#">Messages</a></li>
      <li><a href="#">Pagination</a></li>
      <li><a href="#">Panel</a></li>
      <li><a href="#">Search Bar</a></li>
      <li><a href="#">Share</a></li>
      <li><a href="#">Follow</a></li>
      <li><a href="#">Tabs</a></li>
      <li><a href="#">Tags</a></li>
      <li><a href="#">Video</a></li>
    </ul>
  </div>
</div>
