<!-- hero post -->
<header class="h-program">
  <div class="row">
    <div class="large-12 columns">
      <h1>Geolocation</h1>
    </div>
  </div>
</header>

<div id="geolocation" class="row">
  <div class="large-12 columns rhythm">
    <h2>Your Current Position</h2>
    <p>Latitude: <span id="latitude" /></p>
    <p>Longitude: <span id="longitude" /></p>
    <p>Accuracy: More or less <span id="accuracy" /></p>
  </div>
</div>
