---
title: Mister Machine Patterns
---

<section class="pattern-section bright">
	<div class="row">
		<div class="large-12 columns rhythm">
			<%= partial "partials/_pattern-colors" %>
		</div>
	</div>
</section>

<section class="pattern-section">
	<div class="row">
		<div class="large-12 columns rhythm">
			<h5 class="pattern-header">Typography</h5>
			<p class="medium no-margin">Primary font: "Helvetica", "Arial", sans-serif;</p>
			<p class="serif medium no-margin">Secondary font: "Georgia", "Times", serif;</p>
		</div>
	</div>
</section>

<section class="pattern-section bright">
	<div class="row">
		<div class="large-12 columns rhythm">
			<%= partial "partials/_pattern-headers" %>
		</div>
	</div>
</section>

<section class="pattern-section">
	<div class="row">
		<div class="pattern large-12 columns">	
			<%= partial "partials/_pattern-buttons" %>
		</div>
	</div>
</section>

<section class="pattern-section bright">
	<div class="row">
		<div class="pattern large-12 columns">
			<%= partial "partials/_pattern-forms" %>
		</div>
	</div>
</section>
