---
title: Mister Machine Patterns
---

<div class="row">
  <div class="medium-9 medium-centered columns">
    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Scrolling</h4>
      </header>

      <article id="tweens" style="margin-top: 1200px;">
        <h3>fade</h3>
        <h3>move</h3>
        <h3>spin</h3>
        <h3>scale</h3>
        <h3>text properties</h3>
      </article>

    </section>
  </div>

</div>
